<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition</title>

    <!-- local css file -->
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
    <div class="container">
        <h2>Attendance Login Page</h2>
        <form class="loginForm">
            <div class="form-group">
                <label for="user">User Name:</label>
                <input type="text" class="form-control input-style" placeholder="Enter UserName" id="username">
            </div>
            <div class="form-group">
                <label for="pwd">Access ID:</label>
                <input type="text" class="form-control input-style" placeholder="Enter Access ID" id="accessId">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="login_submit">Submit</button>
            </div>
        </form>
    </div>

    <!-- js files -->
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>